#data-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.heading {
  font-size: 2.5em;
  color: #2196F3;
}

.subtext {
  color: #64B5F6;
}

#left {
  margin-right: 48px;
}

#middle {
  padding: 0 48px;
  border-left: 1px solid #DAE1E9;
  border-right: 1px solid #DAE1E9;
}

#right {
  margin-left: 48px;
}
