.hover {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
}

.hover .price {
  font-weight: 700;
}
